@model fintrac.Models.Offer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Offer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OId)
                @Html.ValidationMessageFor(model => model.OId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bankName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bankName)
                @Html.ValidationMessageFor(model => model.bankName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offerTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offerTitle)
                @Html.ValidationMessageFor(model => model.offerTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offerName)
                @Html.ValidationMessageFor(model => model.offerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offerDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offerDescription)
                @Html.ValidationMessageFor(model => model.offerDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.serviceName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serviceName)
                @Html.ValidationMessageFor(model => model.serviceName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.offerPostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.offerPostalCode)
                @Html.ValidationMessageFor(model => model.offerPostalCode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
